.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.visible {
  display: inline;
}

.hidden {
  display: none;
}

input, button, span {
  font-size: 14pt;
  padding: 10px;
  text-align: center;
}

button {
  cursor: pointer;
  min-width: 100px;
  border-color: darkgreen;
  background-color: darkgreen;
  color: white;
}
