@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F1F5F8;
  font-family: 'Josefin Sans', sans-serif;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  /* padding: 0.5rem; */
}

h1 {
  font-size: 4rem;
  font-weight: 1000;
  font-family: Verdana;
}

#value {
  padding: 1rem 0;
  font-size: 8rem;
  font-weight: 700;
}

.btn {
  width: 10rem;
  height: 1.9rem;
  text-transform: uppercase;
  border: 2.5px solid #000;
  border-radius: 5px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.reset {
  width: 6rem;
  margin: 0 0.5rem;
}


