/* Trees Image - Pexels: https://www.pexels.com/photo/photo-of-trees-in-forest-3801030/ */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  box-sizing: border-box;
}

:root {
  --column-1: #a2622d;
  --column-2: #1b6161;
  --column-3: #248224;
  --column-4: #a22d22;
}

body {
  margin: 0;
  background: url("./trees.jpg");
  background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;
  color: white;
  font-family: Quicksand, sans-serif;
  overflow-y: hidden;
}

h1 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px black;
}

.main-title {
  text-align: center;
  font-size: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  margin: 20px;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

/* Columns */
.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow-x: hidden;
}

.backlog-column .header,
.backlog-column .solid,
.backlog-column .solid:hover,
.backlog-column .over {
  background-color: var(--column-1);
}

.progress-column .header,
.progress-column .solid,
.progress-column .solid:hover,
.progress-column .over {
  background-color: var(--column-2);
}

.complete-column .header,
.complete-column .solid,
.complete-column .solid:hover,
.complete-column .over {
  background-color: var(--column-3);
}

.on-hold-column .header,
.on-hold-column .solid,
.on-hold-column .solid:hover,
.on-hold-column .over {
  background-color: var(--column-4);
}

/* Custom Scrollbar */
.custom-scroll {
  overflow-y: auto;
  max-height: 52vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}

.header {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
}

.header h1 {
  font-size: 1.25rem;
}

/* Drag and Drop */
.over {
  padding: 50px 10px;
}

.drag-item-list {
  min-height: 50px;
}

.drag-item {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.drag-item:focus {
  outline: none;
  background-color: white;
  color: black;
}

/* Add Button Group */
.add-btn-group {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  user-select: none;
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

.solid {
  display: none;
}

.solid:hover {
  transition: unset;
  filter: brightness(95%);
  color: white;
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.add-container {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100px;
  display: none;
}

.add-item {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 5px auto;
  resize: none;
  color: black;
  padding: 10px;
}

.add-item:focus {
  outline: none;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2rem;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .drag-container {
    margin: 0;
  }

  .drag-list {
    display: block;
  }

  .drag-column {
    margin: 10px;
  }
}