.container {
    background-color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    max-height: 600px;
    padding: 20px 20px;
    padding-left: 20px;
    margin: auto;
    display: flex;
    flex:direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.input {
    border: 1px solid white;
    border-radius: 20px; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    height: 75px;
    width: 400px;
    font-size: 50px;
}

.button {
    border: 1px solid white;
    border-radius: 10px; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 80px;
    font-size: 30px;
    text-align: center;
}

.data {
    background-color: white;
    border: 1px solid white;
    border-radius:10px;
    width: 75px;
    height: 75px;
    font-size: 30px;
}

button:hover {
    color: white;
    background-color: red;
    transition: 0.2s;
}