<div class="container">
  <mat-card class="signUpCard">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #signupForm="ngForm" id="signUpForm">
        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="email"
                 type="email"
                 name="email"
                 class="formInput" required autocomplete="off"/>
          <mat-hint align="start"><strong>Your e-mail address</strong> </mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="password"
                 [(ngModel)]="password"
                 name="password"
                 class="formInput" required autocomplete="off"/>
          <mat-hint align="start"><strong>Your preferred password</strong> </mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput name="displayName"
                 [(ngModel)]="displayName" class="formInput"
                 maxlength="12" required autocomplete="off"/>
          <mat-hint align="start"><strong>Your name for chat</strong> </mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="btn" id="btn-signUp"
              [disabled]="!signupForm.form.valid"
              type="submit" (click)="signUp()">Log In</button>
    </mat-card-actions>
  </mat-card>
</div>
