@font-face {
    font-family: 'Abel';
    src: url('polices2/abel/abel-regular.ttf');
}

body {
    font-family: Abel;
}

ul {
    list-style-type: none;
}

.entete {
    background-color: red;
    text-align: center;
    border: 3px black solid;
    border-radius: 10px;
    border-style: none;
    height: 150px;
    padding-top: 10px;
}

ul li {
    border: 1.5px white solid;
    background-color: darkslategrey;
    color: white;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    
}


