body {
   background: #04A1BF;
   text-align: center;
   font-family: sans-serif;
}

.intro {
   margin: 30px 0px;
   font-weight: bold;
}

h1 {
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 800;
}

p {
   font-weight: 600;
}

#first {
   margin-top: 10px;
   color: #FFCD5D;
}

#second {
   color: #51DF70;
}

#third {
   color: #025F70;
   margin-bottom: 30px;
}

#enter {
   border: none;
   padding: 5px 15px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   background-color: #025F70;
   /*transition effect to specific property in a specified time frame*/
   transition: all 0.75s ease;
   -webkit-transition: all 0.75s ease;
   -moz-transition: all 0.75s ease;
   -ms-transition: all 0.75s ease;
   -o-transition: all 0.75s ease;
   font-weight: normal;
}

#enter:hover {
   background-color: #027985;
   color: #FFCD5D;
}

ul {
   text-align: left;
   margin-top: 20px;
}

li {
   list-style: none;
   padding: 10px 20px;
   color: #ffffff;
   text-transform: capitalize;
   font-weight: 600;
   border: 2px solid #025F70;
   border-radius: 5PX;
   margin-bottom: 10px;
   background: #4EB9CD;
   transition: all 0.75s ease;
   -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover{
   background: #76CFE0;
}

li > button {
   font-weight: normal;
   background: none;
   border: none;
   float: right;
   color: #025f70;
   font-weight: 800;
}

input {
   border-radius: 5px;
   min-width: 65%;
   padding: 5px;
   border: none;
}

.done {
   background: #51DF70 !important;
   color: #00891E;
}

.delete {
   display: none;
}