/* colors:
header #918e89 */

.navbar-menu {
    color: #FFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #918e89;
    padding: 40px;
    margin-bottom: 40px;
}

footer {
    color: #FFF;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #918e89;
    padding: 40px;
    margin-top: 40px;
}



