* {
  /* background-color: lightgoldenrodyellow; */
  font-family: 'Courier New', Courier, monospace;
}
body {
  display: block;
  margin: 0px;
}
#outside {
  background-color: lightgoldenrodyellow;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  text-transform: capitalize;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px 10px 0px;
  margin: 20px 30px 20px 30px;
}
form {
  margin: 0 auto;
  width: 80%;
  height: 90%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  
}
#survey-form {
  background-color: white;
}
p.note {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
fieldset legend {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-variant-caps: small-caps;
}
div label {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
#gender-selection {
  margin: 5px 10px;
}
#characteristics-note {
  margin: 5px 20px;
  font-weight: bold;
}
#intellectual-category {
  padding: 15px 10px;
} 
#essay-section {
  padding: 10px 15px;
}
.essay-box {
  /* padding: 10px 5px; */
  margin: 10px 5px;
}
button {
  font-weight: bold;
  margin: .5em;
  background-color: red;
  color: white;
}
#submit-button {
  display: flex;
  justify-content: center;
}
